<form class='search-form' id='search-form'>
  <input type='text' name='query' autocomplete='off' placeholder='Search images...' />
  <button type='submit' class='btn btn-primary mb-2'>
    Search</button>
</form>